{include file="public/header" title="$title" keywords="$keywords" description="$description" /}
<div class="am-hero">
  <div class="am-container">
    <ul class="am-category">
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>女装</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>男装</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>鞋子</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>箱包</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>母婴</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>内衣</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>美妆</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>配饰</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>居家</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>文体</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>数码</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>电器</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>美食</a></li>
      <li class="am-category-item"><a href="#"><i class="am-icon-shopping-bag"></i>其他</a></li>
    </ul>
    <div class="am-banner">
      <div class="am-slider am-slider-default" data-am-flexslider>
        <ul class="am-slides">
          <li><img src="//gju2.alicdn.com/tps/i2/6000000007157/TB2lm6ziwLD8KJjSszeXXaGRpXa_!!6000000007157-0-jupush.jpg_760x760.jpg"  height="350"/></li>
          <li><img src="//goods5.juancdn.com/bao/171221/8/7/5a3b856aa9fcf84e717df1d0_700x360.png" height="350"/></li>
        </ul>
      </div>
    </div>
    <div class="am-activity am-fr">
      <dl>
        <dd> <a href="http://brand.juanpi.com/0?shop_id=3228606" target="_blank" data-ga="女装-拉夏贝尔" class="'right" data-value="ad_banner_right#1_1"> <img src="https://goods4.juancdn.com/bao/171219/6/9/5a3867a88150a13983127d46_124x119.png?imageMogr2/quality/88!/format/png"> </a> </dd>
        <dd> <a href="http://brand.juanpi.com/0?shop_id=3277665" target="_blank" data-ga="鞋子-大东" class="'right" data-value="ad_banner_right#1_2"> <img src="https://goods4.juancdn.com/bao/171219/6/c/5a38680d8150a1396b631d18_124x119.png?imageMogr2/quality/88!/format/png"> </a> </dd>
        <dd> <a href="http://brand.juanpi.com/0?shop_id=3758605" target="_blank" data-ga="母婴-南极人" class="'right" data-value="ad_banner_right#1_3"> <img src="https://goods8.juancdn.com/bao/171219/f/6/5a38689aa9fcf87f8254a4e4_124x119.png?imageMogr2/quality/88!/format/png"> </a> </dd>
        <dd> <a href="http://brand.juanpi.com/0?shop_id=3288684" target="_blank" data-ga="配饰-艾凝雪" class="'right" data-value="ad_banner_right#1_4"> <img src="https://goods8.juancdn.com/bao/171219/f/d/5a3868668150a13ba3284be8_124x119.png?imageMogr2/quality/88!/format/png"> </a> </dd>
        <dd class="last"> <a href="http://jkj.juanpi.com/" target="_blank" data-ga="圣诞袜" class="'right" data-value="ad_banner_right#1_5"> <img src="https://goods4.juancdn.com/bao/171219/6/b/5a38691d8150a138fe63ba9a_250x120.png?imageMogr2/quality/88!/format/png"></a> </dd>
      </dl>
    </div>
  </div>
</div>
<div class="am-container"> 
  
  <!--brand-->
  <div class="am-brand-index am-cf">
    <ul class="am-brand am-avg-sm-3">
      <li><a class="am-brand-item" title="拉夏贝尔旗下品牌" target="_blank" href="/brand-view-id-1206.html"> <img alt="" class="am-brand-img" src="//gju2.alicdn.com/tps/i2/136630218097692162/TB23UlAoVXXXXXiXFXXXXXXXXXX_!!0-juitemmedia.jpg">
        <div class="am-brand-intro">
          <div class="am-brand-num am-fr">总共<span>96</span>件</div>
          <div class="am-brand-logo"><img alt="拉夏贝尔旗下品牌" src="//gju2.alicdn.com/tps/i3/136630216724245139/TB2SMz4oFXXXXcmXXXXXXXXXXXX_!!0-juitemmedia.jpg"></div>
          <div class="am-brand-slogon">拉夏贝尔旗下品牌</div>
        </div>
        </a> </li>
      <li><a class="am-brand-item" title="新年焕新衣第2波" target="_blank" href="/brand-view-id-1206.html"> <img alt="" class="am-brand-img" src="//gju4.alicdn.com/tps/i4/179570161721033454/TB254GqjFXXXXbmXXXXXXXXXXXX_!!263817957-0-juitemmedia.jpg">
        <div class="am-brand-intro">
          <div class="am-brand-num  am-fr">总共<span>96</span>件</div>
          <div class="am-brand-logo"><img alt="新年焕新衣第2波" src="//gju4.alicdn.com/tps/i3/179570160966295100/TB2RTE6jpXXXXbVXXXXXXXXXXXX_!!263817957-0-juitemmedia.jpg"></div>
          <div class="am-brand-slogon">新年焕新衣第2波</div>
        </div>
        </a> </li>
      <li><a class="am-brand-item" title="拉夏贝尔旗下品牌" target="_blank" href="/brand-view-id-1206.html"> <img alt="" class="am-brand-img" src="//gju2.alicdn.com/tps/i4/120420160604232483/TB2KwD_jpXXXXb.XpXXXXXXXXXX_!!1652742042-0-juitemmedia.jpg">
        <div class="am-brand-intro">
          <div class="am-brand-num  am-fr">总共<span>96</span>件</div>
          <div class="am-brand-logo"><img alt="拉夏贝尔旗下品牌" src="//goods3.juancdn.com/brand/160310/4/3/56e11a8492be59ac0b8b4574_180x90.png"></div>
          <div class="am-brand-slogon">拉夏贝尔旗下品牌</div>
        </div>
        </a> </li>
    </ul>
    <div class="brand-icons">
      <ul class="am-avg-sm-10">
        <li><span>更多品牌特卖:</span></li>
        <li><a href="/brand-view-id-1207.html" target="_blank"><img src="//gju4.alicdn.com/tps/i1/197240216693586426/TB2Otn3oFXXXXcgXXXXXXXXXXXX_!!0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1206.html" target="_blank"><img src="//gju2.alicdn.com/tps/i3/136630216724245139/TB2SMz4oFXXXXcmXXXXXXXXXXXX_!!0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1205.html" target="_blank"><img src="//gju4.alicdn.com/tps/i2/144590216629255061/TB2LYYHoFXXXXaqXpXXXXXXXXXX_!!0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1204.html" target="_blank"><img src="//gju4.alicdn.com/tps/i4/147020215141212992/TB26M8PoFXXXXa3XpXXXXXXXXXX_!!0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1091.html" target="_blank"><img src="//gju3.alicdn.com/tps/i1/198140160508823356/TB2pCZqjpXXXXauXXXXXXXXXXXX_!!746279814-0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1082.html" target="_blank"><img src="//gju4.alicdn.com/tps/i2/145670160447364607/TB2RpjQjpXXXXclXpXXXXXXXXXX_!!1710394567-0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1079.html" target="_blank"><img src="//gju4.alicdn.com/tps/i1/103750159750543337/TB2aj1HjpXXXXbFXpXXXXXXXXXX_!!821690375-0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-view-id-1074.html" target="_blank"><img src="//gju4.alicdn.com/tps/i3/114090161053380086/TB2cXtkjFXXXXa4XXXXXXXXXXXX_!!15461409-0-juitemmedia.jpg" width="80px" alt=""></a></li>
        <li><a href="/brand-index.html" target="_blank" class="see-all fr">查看全部</a></li>
      </ul>
    </div>
  </div>
  <!--/brand-->
  <ul class="am-goods am-avg-sm-4">
    {volist name="list" id="data"}
    <li>
      <div class="am-goods-item"> <a class="am-goods-thumb" href="{$data.item_url}" ><img data-original="{$data.pict_url}_310x310.jpg" alt="{$data.title}" class="lazy"  src="__STATIC__/images/blank.jpg"></a>
        <h3 class="am-goods-title"><a href="{$data.item_url}">{$data.title} </a></h3>
        <p class="am-goods-price am-cf"><span class="price-current am-fl"><em class="am-yen">¥</em> {$data.price}</span> <span class="des-other am-fl"><span class="price-old"><del>¥{$data.zk_final_price}</del><b>丨</b><em class="am-zhe">{$data.discount}折</em></span></span> <span class="am-platform-icon  am-fr"><i class="am-icon-{$data.user_type? 'taobao' : 'tmall'}"></i> {$data.user_type? '淘宝' : '天猫'} </span></p>
        <i class="am-goods-coupon"> <em>领券省<br>
        {$data.coupon_amount}元</em> <b>去领券&#8250;</b> </i> </div>
    </li>
    {/volist}
  </ul>
</div>
{include file="public/footer" /} 