{include file="Public/header" title="$title"/}
{include file="Public/menu"/}
<div class="tpl-content-wrapper">
  <div class="row-content am-cf">
    <div class="row">
      <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
          <div class="widget-head am-cf">
            <div class="widget-title  am-cf">商品列表</div>
          </div>
          <div class="widget-body  am-fr">
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
              <div class="am-form-group">
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
              <div class="am-form-group tpl-table-list-select">
                <select data-am-selected="{btnSize: 'sm'}">
                  <option value="option1">所有类别</option>
                  <option value="option2">IT业界</option>
                  <option value="option3">数码产品</option>
                  <option value="option3">笔记本电脑</option>
                  <option value="option3">平板电脑</option>
                  <option value="option3">只能手机</option>
                  <option value="option3">超极本</option>
                </select>
              </div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
              <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                <input type="text" class="am-form-field" name="item_title" value="{$item_title}">
                <span class="am-input-group-btn">
                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                </span> </div>
            </div>
            <div class="am-u-sm-12">
              <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black" id="example-r">
                <thead>
                  <tr>
                    <th><input type="checkbox" name="checkbox" id="select-all"></th>
                    <th colspan="2">商品信息</th>
                    <th>价格</th>
                    <th>优惠券</th>
                    <th>商品分类</th>
                    <th>品牌</th>
                    <th>30天销量</th>
                    <th>添加时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                
                {volist name="list" id="item"}
                <tr data-id="{$item.id}" data-num_iid="{$item.num_iid}">
                  <td class="am-text-middle"><input type="checkbox" name="checkbox" value="{$item.id}"></td>
                  <td  width="120" class="am-text-middle"><a href="{$item.item_url}" target="_blank"><img alt="{$item.title}" title="{$item.title}" src="{$item.pict_url}_120x120.jpg" class="tpl-table-line-img"> </a></td>
                  <td width="150" class="am-text-middle"><a href="{$item.item_url}" target="_blank">{$item.title}</a></td>
                  <td class="am-text-middle">￥{$item.zk_final_price}</td>
                  <td class="am-text-middle">￥{$item.coupon_amount}</td>
                  <td class="am-text-middle">{$item.category}</td>
                  <td class="am-text-middle">{$item.brand_name}</td>
                  <td class="am-text-middle">{$item.volume}</td>
                  <td class="am-text-middle">{$item.create_time}</td>
                  <td class="am-text-middle"><div class="tpl-table-black-operation"> <a href="{$item_del_url}/id/{$item.id}" class="tpl-table-black-operation-del"> <i class="am-icon-trash"></i> 删除 </a> </div></td>
                </tr>
                {/volist}
                  </tbody>
                
              </table>
            </div>
            <div class="am-u-lg-12 am-cf">
              <div class="am-fr"> {$page|raw}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="Public/footer"/}
</body></html>