<footer class="am-footer">
<div class="am-container am-cl">
	<div class="am-footer-qrcode am-fl">
		<img src="http://www.snle.me/upload/20170811/2339d781004e9947e3b0be0845f1c67a.png" alt="二维码">
		<p>关注微信及时抢</p>
	</div>
	
	<div class="am-fl">
		<h3 class="am-footer-slogan">"聪明的人，都会省钱"</h3>
		<p class="am-footer-links">友情链接：<a href="#">会省钱</a> <a href="#">省了么</a></p>
		<p class="am-footer-copyright">Copyright @2016-2017 会省钱 hui.com All Rights Reserved</p>
	</div>
	
	
</div>
</footer>



<!--[if (gte IE 9)|!(IE)]><!-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js//amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script>
$(function(){
	$('.lazy').lazyload();
})
</script>
</body>
</html>
</body>

</html>
